# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven wrapper files
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Eclipse IDE
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
docker-compose.override.yml

# Ignore temporary files
*.swp
*~
